<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="{{ description }}">

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:url" content="{{ client.domain }}{{ page.url }}">
<meta property="og:type" content="website">
<!-- <meta property="og:image" content="https://codestitch.app/frontend/images/logo.png"> -->
<meta property="og:site_name" content="{{ client.name }}">
<meta property="og:locale" content="en_US">
<meta property="og:image:width" content="1421">
<meta property="og:image:height" content="180">

<!-- Helps prevent duplicate content issues -->
<link rel="canonical" href="{{ client.domain }}{{ page.url }}">

<link rel="stylesheet" href="/assets/css/reset.css">
<link rel="stylesheet" href="/assets/css/core-styles.css">

<title>{{ client.name }} | {{ client.location }} </title>