<!DOCTYPE html>
<html lang="en">
  <head>
  {% include 'basehead.html' %}
  {% block extraStyles %}{% endblock %}


  <script src="/assets/js/nav.js" defer></script>

  <title>{{ client.name }} | {{ client.location }} </title>

  {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'components/header.html' %}

    <main id="main">
      <a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>
      {% block mainContent %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% include 'components/footer.html' %}
  </body>
</html>