---
layout: layouts/index.html
title: Sandbox Site
description: My sandbox to setup a website with 11ty
permalink: '/'
eleventyNavigation:
    key: 'Home'
    order: 100
---

  {% include 'components/hero.html' %}
  
  <div id="cs-content-831">
      <span class="cs-topper">Testimonials</span>
      <h2 class="cs-title">Trusted by Thousand of People & Companies</h2>
      <p class="cs-text">
          At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
      </p>
  </div>

  {% include 'components/menu-items.html' %}
  {% include 'components/gallery.html' %}
